.btn {
  font-size: 18;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}

@import "nativescript-theme-core/css/core.light.css";

.pokemon-name {
  text-transform: capitalize;
}
